@import '../themes/variables.scss';


.product {

  &-container {
    margin: 16px 200px;
    background-color: $white;
    height: 530px;
    overflow: auto;
    scrollbar-color: $secondary;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    
    

    &__main-info {
     display: flex;
     flex-flow: column nowrap;
     

     &--img{
      width: 250px;
      margin: 16px;
     }
     &--title{
      
     }
     &--text{
      
     }

    }

  }

  &-container::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &-container::-webkit-scrollbar:vertical {
    width: 10px;
  }
}

.routerIndicator {
  margin: 16px 200px 0 200px;
  font-size: 14px;
  color: $lightGray;
}


@media (max-width: 1095px) {

  .product {
    &-container{
      height: 418px;
      margin: 16px 20px;
    }

    .routerIndicator {
      margin: 16px 80px 0 20px;
    }
    
  }

}

 


