@import "../themes/variables.scss";



.products {

  &-container {
    margin: 30px 200px;
    background-color: $white;
    height: 530px;
    overflow: auto;
    scrollbar-color: $secondary;

    &--link {
      text-decoration: none;
      color: none;
    }
    
    
    &__card {
      display: grid;
      grid-template-columns: 25% 30% 45%;
      

      &--img {
        margin: 16px;
        width: 180px;
        height: 180px;
      }

      &--mainInfo{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        &-price{
          padding-bottom: 32px;
          font-size: 24px;
          color: $secondary;
        }

        &-title{
          font-size: 18px;
          color: $secondary;
        }
      }

      &--ubication{
        padding-top: 60px;
        font-size: 12px;
        color: $lightGray;
        text-align: center;
      }
    }

    hr{
       background-color: $lightGray;
       margin: 0 auto 20px auto;
       width: 920px;
    }
  }

  .routerIndicator {
    margin: 16px 200px 0 200px;
    font-size: 14px;
    color: $lightGray;
  }

  &-container::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &-container::-webkit-scrollbar:vertical {
    width: 10px;
  }

  &-container::-webkit-scrollbar-button:increment,&-container::-webkit-scrollbar-button {
    display: none;
  } 

  &-container::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  &-container::-webkit-scrollbar-thumb {
    background-color: $lightGray;
    border-radius: 20px;
    border: 2px solid $white;
  }

  &-container::-webkit-scrollbar-track {
    border-radius: 10px;  
  }
}

@media (max-width: 1095px) {
  .products {
    &-container{
      height: 418px;
      margin: 30px 20px;


      &__card {
        display: grid;
        grid-template-columns: 35% 45% 20%;

        &--img {
          margin: 8px;
          width: 100px;
          height: 100px;
        }
      }

    }

    .routerIndicator {
      margin: 16px 80px 0 20px;
    }
  }
}
