/**************************/
/* Custom Variables */
/**************************/


/* Colors */

$primary: #FFE600;
$secondary: #333333;
$third: #666666;
$lightGray: #999999;
$clearWhite: #EEEEEE; 
$blue: #3483FA;
$white: #ffffffff
 


